django-ecommerce/ecommerce/__pycache__/wsgi.cpython-311.pyc
django-ecommerce/ecommerce/__pycache__/settings.cpython-311.pyc
env/
codealike.json
django-ecommerce/ecommerce/__pycache__/urls.cpython-311.pyc
django-ecommerce/store/.DS_Store
django-ecommerce/ecommerce/__pycache__/urls.cpython-311.pyc
django-ecommerce/store/__pycache__/urls.cpython-311.pyc
django-ecommerce/store/__pycache__/views.cpython-311.pyc
django-ecommerce/store/templates/.DS_Store
